#cmp-directory {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 5vh;
    height: 100%;
    background-color: var(--primary-dark);
    transition: width 0.4s;
    z-index: 21;
}

@media (max-width: 599px) {
    #cmp-directory:hover {
        width: 60vw;
    }
    .cmp-delete {
        position: absolute;
        left: calc(60vw - 4.5vh);
        top: 0.5vh;
        border-bottom-left-radius: 4px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: color 0.2s;
        color: white;
    }
}

@media (min-width: 600px) and (max-width: 1099px) {
    #cmp-directory:hover {
        width: 40vw;
    }
    .cmp-delete {
        position: absolute;
        left: calc(40vw - 4.5vh);
        top: 0.5vh;
        border-bottom-left-radius: 4px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: color 0.2s;
        color: white;
    }
}

@media (min-width: 1100px) {
    #cmp-directory:hover {
        width: 20vw;
    }
    .cmp-delete {
        position: absolute;
        left: calc(20vw - 4.5vh);
        top: 0.5vh;
        border-bottom-left-radius: 4px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: color 0.2s;
        color: white;
    }
}

#add-cmp {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 5vh;
    background-color: var(--primary-darker);
    transition: background-color 0.2s;
    color: white;
    cursor: pointer;
    font-size: 4vh;
}
#add-cmp:hover {
    background-color: var(--primary-darker2);
}
#add-cmp i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vh;
}

.cmp-item {
    position: relative;
    margin: 0.5vh;
    margin-bottom: -0.5vh;
    display: inline-block;
    width: 4vh;
    height: 4vh;
    background-color: var(--primary-darker);
    border-radius: 2vh;
    transition: width 0.4s, height 0.2s, background-color 0.2s;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 4px -1px rgb(20, 20, 20);
    -moz-box-shadow: 0px 0px 4px -1px rgb(20, 20, 20);
    box-shadow: 0px 0px 4px -1px rgb(20, 20, 20);
    cursor: pointer;
}
#cmp-directory:hover .cmp-item {
    width: calc(100% - 1vh);
}
#cmp-directory:hover .cmp-item:hover, #cmp-directory:hover .cmp-item.selected {
    height: calc(4vh + 120px);
    background-color: var(--primary-darker2);
}
.cmp-item .cmp-item-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: var(--primary-darker2);
    overflow: hidden;
}
.cmp-item .cmp-item-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Roboto;
    font-size: 1.5vh;
    color: white;
    border-radius: 50%;
}
.cmp-item .cmp-item-icon img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cmp-item .cmp-name {
    display: inline-block;
    width: 0px;
    height: 4vh;
    overflow: hidden;
    transition: width 0.4s;
    background-color: var(--primary-darker);
    position: absolute;
    left: 4vh;
    top: 0px;
    white-space: nowrap;
    transition: background-color 0.2s;
}
#cmp-directory:hover .cmp-item:hover .cmp-name, #cmp-directory:hover .cmp-item.selected .cmp-name {
    background-color: var(--primary-darker2);
}
#cmp-directory:hover .cmp-item .cmp-name {
    width: calc(100% - 5vh);
}

.cmp-item .cmp-name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Roboto;
    font-size: 2vh;
    color: white;
    white-space: nowrap;
}

.cmp-stats {
    position: absolute;
    top: 4vh;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.cmp-stats .stat {
    padding: 5px;
    padding-left: 2vh;
    font-family: Roboto;
    color: white;
}
.cmp-stats .stat .stat-title {
    font-weight: bold;
}
.stat.id-stat .stat-value {
    cursor: text;
}

.cmp-delete:hover {
    color: var(--secondary);
}
.cmp-delete i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#no-campaign-box {
    position: absolute;
    top: 0px;
    left: 5vh;
    display: inline-block;
    width: calc(100% - 5vh);
    height: 100%;
    background-color: var(--gradient7);
    z-index: 20;
}
#no-campaign-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#character-panel {
    position: absolute;
    top: 0px;
    left: 5vh;
    display: inline-block;
    height: 100%;
    background-color: var(--gradient7);
    overflow: auto;
    margin-bottom: 0px;
    z-index: 19;
    transition: width 0.2s;
}
#character-panel:last-child {
    margin-bottom: 5px;
}

.card.character-box {
    position: relative;
    display: inline-block;
    width: 95%;
    height: 400px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    transition: width 0.2s;
}

#homebrew-panel {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    height: 100%;
    background-color: var(--gradient7);
    z-index: 15;
}
.dm > #homebrew-panel {
    display: inline-block;
}

@media (min-width: 800px) {
    #character-panel {
        width: 310px;
    }
    #homebrew-panel {
        width: 450px;
    }
    #maps-panel {
        position: absolute;
        top: 0px;
        left: calc(310px + 5vh);
        display: inline-block;
        width: calc(100% - 310px - 5vh);
        height: 100%;
        background-color: white;
        z-index: 15;
    }
    .dm #maps-panel {
        width: calc(100% - 760px - 5vh);
    }
    .dm #add-map {
        right: calc(470px + 5vh);
    }
    #add-map {
        right: calc(20px + 5vh);
    }
}
@media (max-width: 799px) {
    #character-panel {
        width: 200px;
    }
    #homebrew-panel {
        width: 350px;
    }
    #maps-panel {
        position: absolute;
        top: 0px;
        left: calc(200px + 5vh);
        display: inline-block;
        width: calc(100% - 200px - 5vh);
        height: 100%;
        background-color: white;
        z-index: 15;
    }
    .dm #maps-panel {
        width: calc(100% - 350px - 5vh);
    }
    .dm #add-map {
        right: calc(370px + 5vh);
    }
    #add-map {
        right: calc(20px + 5vh);
    }
}
.character-box {
    margin: 5px;
    cursor: pointer;
}
.character-box .buttons {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 40px;
    height: 55px;
    transition: width 0.2s;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    margin: 3px;
}
.character-box .card-content {
    height: 20%;
}
.character-box .card-image {
    height: 80%;
}
.character-box .buttons button {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    display: inline-block;
}
.character-box:hover .buttons .character-edit {
    width: 100px;
}
.character-box:hover .buttons {
    width: 120px;
}

#add-map {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    background-color: var(--secondary);
    display: none;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    transition: background-color 0.2s, width 0.2s;
    z-index: 18;
    overflow: hidden;
}
.dm #add-map {
    display: inline-block;
}
#add-map span {
    position: absolute;
    top: 52%;
    left: 64px;
    transform: translate(0,-50%);
    white-space: nowrap;
    font-family: Roboto;
    color: white;
    font-weight: bold;
}
#add-map:hover {
    background-color: var(--secondary-dark);
    width: 160px;
}
#add-map i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    transition: color 0.2s, left 0.2s, transform 0.2s;
}
#add-map:hover i {
    color: white;
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translate(-50%,-50%);
}

#dialog-modal {
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

#add-map-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: fit-content;
    z-index: 100;
    background-color: var(--primary-dark);
    border-radius: 5px;
    overflow: hidden;
}

@media (min-width: 800px) {
    #add-map-dialog {
        width: 400px;
    }
}
@media (max-width: 799px) {
    #add-map-dialog {
        width: 60vw;
    }
}

#map-img-input-area {
    display: inline-block;
    width: 90%;
    height: 50px;
    position: relative;
    margin-left: 5%;
    background-color: var(--primary-dark);
}
#map-img-input {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
#img-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 60%;
    height: 90%;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    transition: background-color 0.2s;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}
#img-upload:hover {
    background-color: var(--secondary-dark);
}
#add-map-dialog .title {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--primary-darker);
}
#add-map-dialog .title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}
#map-img-prev {
    position: relative;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    margin-top: 0px;
    padding: 0px;
}
#map-img-prev img {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    display: inline-block;
}
#map-img-prev img[src=none] {
    opacity: 0;
    height: 0px;
}

.dialog-input {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.dialog-input input {
    position: relative;
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 5%;
    text-align: center;
    background-color: var(--primary);
    transition: background-color 0.2s;
    color: white;
    font-family: Roboto;
}
.dialog-input input:hover, .dialog-input input:focus {
    background-color: var(--primary-light);
}
.dialog-input span {
    display: inline-block;
    position: relative;
    width: 100%;
    height: fit-content;
    color: white;
    font-family: Roboto;
    text-align: center;
}
.dialog-input.dims {
    width: 49%;
    margin-right: 0px;
}
#submit-map {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 40px;
    background-color: var(--primary);
    border: none;
    margin: 10px;
    border-radius: 5px;
    margin-left: 25%;
    transition: background-color 0.2s;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}
#submit-map:hover {
    background-color: var(--secondary-dark);
}

#maps-panel {
    padding-left: 2px;
    padding-right: 2px;
    overflow-y: scroll;
}
.map-item {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 5px;
}
.map-item .card-content .title, .map-item .card-content .content {
    text-align: center;
}
.map-item .card-content {
    height: 20%;
}
.map-item .card-image {
    height: 80%;
}
.map-item .buttons:hover {
    width: 100%;
}
.map-item .buttons button {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    display: inline-block;
}
.map-item .buttons {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 90px;
    height: 55px;
    transition: width 0.2s;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    margin: 3px;
}

.bestiary {
    position: relative;
    display: inline-block;
    margin: 5px;
    background-color: var(--gradient6);
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    font-weight: bold;
    font-family: Roboto;
    height: 40px;
    overflow: hidden;
    border: None;
    transition: background-color 0.2s;
    margin-bottom: 0px;
}
.bestiary span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 5px;
    transform: translate(0,-50%);
}
.bestiary .button {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 0px;
    background-color: var(--gradient6);
    border: none;
    transition: background-color 0.2s;
}
.bestiary .button:hover, .new-critter:hover {
    background-color: var(--gradient5);
}
.bestiary .button i {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bestiary .button.delete-bestiary {
    right: 0px;
}
.bestiary .button.refresh-bestiary {
    right: 40px;
}