#cmp-directory {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 5vh;
    height: 100%;
    background-color: var(--primary-dark);
    transition: width 0.4s;
    z-index: 21;
}

@media (max-width: 599px) {
    #cmp-directory:hover {
        width: 60vw;
    }
    .cmp-delete {
        position: absolute;
        left: calc(60vw - 4.5vh);
        top: 0.5vh;
        border-bottom-left-radius: 4px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: color 0.2s;
        color: white;
    }
}

@media (min-width: 600px) and (max-width: 1099px) {
    #cmp-directory:hover {
        width: 40vw;
    }
    .cmp-delete {
        position: absolute;
        left: calc(40vw - 4.5vh);
        top: 0.5vh;
        border-bottom-left-radius: 4px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: color 0.2s;
        color: white;
    }
}

@media (min-width: 1100px) {
    #cmp-directory:hover {
        width: 20vw;
    }
    .cmp-delete {
        position: absolute;
        left: calc(20vw - 4.5vh);
        top: 0.5vh;
        border-bottom-left-radius: 4px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: color 0.2s;
        color: white;
    }
}

#add-cmp {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 5vh;
    background-color: var(--primary-darker);
    transition: background-color 0.2s;
    color: white;
    cursor: pointer;
    font-size: 4vh;
}
#add-cmp:hover {
    background-color: var(--primary-darker2);
}
#add-cmp i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vh;
}

.cmp-item {
    position: relative;
    margin: 0.5vh;
    margin-bottom: -0.5vh;
    display: inline-block;
    width: 4vh;
    height: 4vh;
    background-color: var(--primary-darker);
    border-radius: 2vh;
    transition: width 0.4s, height 0.2s, background-color 0.2s;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 4px -1px rgb(20, 20, 20);
    -moz-box-shadow: 0px 0px 4px -1px rgb(20, 20, 20);
    box-shadow: 0px 0px 4px -1px rgb(20, 20, 20);
    cursor: pointer;
}
#cmp-directory:hover .cmp-item {
    width: calc(100% - 1vh);
}
#cmp-directory:hover .cmp-item:hover, #cmp-directory:hover .cmp-item.selected {
    height: calc(4vh + 120px);
    background-color: var(--primary-darker2);
}
.cmp-item .cmp-item-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: var(--primary-darker2);
    overflow: hidden;
}
.cmp-item .cmp-item-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Roboto;
    font-size: 1.5vh;
    color: white;
    border-radius: 50%;
}
.cmp-item .cmp-item-icon img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cmp-item .cmp-name {
    display: inline-block;
    width: 0px;
    height: 4vh;
    overflow: hidden;
    transition: width 0.4s;
    background-color: var(--primary-darker);
    position: absolute;
    left: 4vh;
    top: 0px;
    white-space: nowrap;
    transition: background-color 0.2s;
}
#cmp-directory:hover .cmp-item:hover .cmp-name, #cmp-directory:hover .cmp-item.selected .cmp-name {
    background-color: var(--primary-darker2);
}
#cmp-directory:hover .cmp-item .cmp-name {
    width: calc(100% - 5vh);
}

.cmp-item .cmp-name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Roboto;
    font-size: 2vh;
    color: white;
    white-space: nowrap;
}

.cmp-stats {
    position: absolute;
    top: 4vh;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.cmp-stats .stat {
    padding: 5px;
    padding-left: 2vh;
    font-family: Roboto;
    color: white;
}
.cmp-stats .stat .stat-title {
    font-weight: bold;
}
.stat.id-stat .stat-value {
    cursor: text;
}

.cmp-delete:hover {
    color: var(--secondary);
}
.cmp-delete i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#no-campaign-box {
    position: absolute;
    top: 0px;
    left: 5vh;
    display: inline-block;
    width: calc(100% - 5vh);
    height: 100%;
    background-color: var(--gradient7);
    z-index: 20;
}
#no-campaign-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#character-panel {
    position: absolute;
    top: 0px;
    left: 5vh;
    display: inline-block;
    width: 310px;
    height: 100%;
    background-color: var(--gradient7);
    overflow: auto;
    margin-bottom: 0px;
    z-index: 19;
}
#character-panel:last-child {
    margin-bottom: 5px;
}

@media (min-width: 550px) {
    .card.character-box {
        display: inline-block;
        width: 300px;
        height: 400px;
    }
}
@media (max-width: 549px) {
    .card.character-box {
        display: inline-block;
        width: 80%;
        height: 400px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.character-box {
    margin: 5px;
    cursor: pointer;
}
.character-box .buttons {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 40px;
    height: 55px;
    transition: width 0.2s;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    margin: 3px;
}
.character-box .card-content {
    height: 20%;
}
.character-box .card-image {
    height: 80%;
}
.character-box .buttons button {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    display: inline-block;
}
.character-box:hover .buttons .character-edit {
    width: 100px;
}
.character-box:hover .buttons {
    width: 120px;
}

#add-map {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: calc(20px + 5vh);
    background-color: var(--secondary);
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
    transition: background-color 0.2s, width 0.2s;
    z-index: 18;
    overflow: hidden;
}
#add-map span {
    position: absolute;
    top: 52%;
    left: 64px;
    transform: translate(0,-50%);
    white-space: nowrap;
    font-family: Roboto;
    color: white;
    font-weight: bold;
}
#add-map:hover {
    background-color: var(--secondary-dark);
    width: 160px;
}
#add-map i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    transition: color 0.2s, left 0.2s, transform 0.2s;
}
#add-map:hover i {
    color: white;
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translate(-50%,-50%);
}