#content-box {
    background-color: var(--gradient6);
    display: inline-block;
    height: 100%;
}
#panel-container {
    display: inline-block;
    width: 100%;
    height: fit-content;
}
@media (min-width: 1300px) {
    .panel {
        position: relative;
        -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        margin: 0px;
        background-color: var(--gradient8);
        width: calc(33% - 5px);
        margin: 2px;
        margin-right: -2px;
        display: inline-block;
        height: fit-content;
        vertical-align: top;
    }
}
@media (min-width: 900px) and (max-width: 1299px) {
    .panel {
        position: relative;
        -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        margin: 0px;
        background-color: var(--gradient8);
        width: calc(49% - 5px);
        margin: 2px;
        margin-right: -2px;
        display: inline-block;
        height: fit-content;
        vertical-align: top;
    }
}
@media (min-width: 0px) and (max-width: 899px) {
    .panel {
        position: relative;
        -webkit-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        -moz-box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        box-shadow: 0px 0px 4px -1px rgba(89,89,89,1);
        margin: 0px;
        background-color: var(--gradient8);
        width: calc(100% - 5px);
        margin: 2px;
        margin-right: -2px;
        display: inline-block;
        height: fit-content;
        vertical-align: top;
    }
}
.panel .title {
    padding: 10px;
    position: relative;
    background-color: var(--primary-darker);
    color: var(--gradient8);
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 50px;
}
.panel .title span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}

/* Input styling */
.panel .content .input {
    padding: 5px;
    font-family: Roboto;
    position: relative;
    display: inline-block;
    width: 98%;
    vertical-align: top;
}
.panel .content .input .input {
    border: none;
}

.panel .content .input[data-style=sub-name] .input {
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--gradient6);
    margin-bottom: 10px;
    width: 98%;
    transition: border-color 0.2s;
}
.panel .content .input[data-style=sub-name] .label {
    font-size: 14px;
    color: var(--gradient5);
    position: absolute;
    left: 10px;
    bottom: 4px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -2px;
    transition: color 0.2s, font-weight 0.2s;
}
.panel .content .input[data-style=sub-name].invalidated {
    border-color: red;
}
.panel .content .input[data-style=sub-name].invalidated .label {
    color: red;
    font-weight: bold;
}
.panel .content .input[data-style=sub-name] .input:focus {
    border-color: var(--secondary-dark);
}
.panel .content .input[data-style=sub-name] .input:focus + .label {
    color: var(--secondary-dark);
}

.panel .content .input[data-style=label-right] {
    position: relative;
}
.panel .content .input[data-style=label-right] .input {
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 45%;
    transition: background-color 0.2s;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
.panel .content .input[data-style=label-right] .label {
    display: inline-block;
    width: 45%;
    margin-left: 0px;
    margin-top: 5px;
}
.panel .content .input[data-style=label-right] .input:focus {
    background-color: var(--gradient7);
}
.panel .content .input[data-outline=yes] {
    border-radius: 5px;
    padding: 6px;
    border: 2px solid var(--gradient6);
    width: 94%;
    margin-bottom: 15px;
    display: inline-block;
    margin-left: 1%;
    transition: border-color 0.2s;
}
.panel .content .input[data-outline=yes] .main-label {
    font-size: 14px;
    color: var(--gradient5);
    position: absolute;
    left: 10px;
    bottom: -15px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -2px;
    transition: color 0.2s, font-weight 0.2s;
}
.panel .content .input[data-outline=yes].invalidated {
    border-color: red;
}
.panel .content .input[data-outline=yes].invalidated .main-label {
    color: red;
    font-weight: bold;
}

.panel .content .input.checkbox[data-style=check1] {
    position: relative;
    padding: 5px;
    display: inline-block;
    height: 48px;
}
.panel .content .input.checkbox[data-style=check1] input {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 5;
}
.panel .content .input.checkbox[data-style=check1] .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    font-size: 24px;
    transition: color 0.2s;
    font-weight: bold;
}
.panel .content .input.checkbox[data-style=check1] .checkbox-cover {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0px;
    z-index: 3;
    border-radius: 5px;
    border: 2px solid var(--gradient6);
    transition: background-color 0.2s;
}
.panel .content .input.checkbox[data-style=check1] .input:checked ~ .checkbox-cover {
    background-color: var(--secondary-dark);
}
.panel .content .input.checkbox[data-style=check1] .input:hover ~ .checkbox-cover {
    background-color: var(--secondary);
}
.panel .content .input.checkbox[data-style=check1] .input:checked ~ .label {
    color: var(--gradient8);
}

/* Button Styling */
.panel .content .button[data-style=wide1] {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--gradient7);
    border: none;
    display: inline-block;
    width: 98%;
    margin: 1%;
    position: relative;
    transition: background-color 0.2s;
    font-family: Roboto;
    font-weight: bold;
}
.panel .content .button[data-style=wide1]:hover {
    background-color: var(--gradient6);
}

/* Output Styling */
.panel .content .output {
    padding: 5px;
    font-family: Roboto;
    position: relative;
    display: inline-block;
    width: 98%;
    vertical-align: top;
    margin-left: 1%;
    overflow: hidden;
}
.panel .content .output[data-style=internal-label] {
    border: 2px solid var(--gradient6);
    border-radius: 5px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.panel .content .output[data-style=internal-label] .label {
    position: absolute;
    font-size: 10px;
    color: var(--gradient8);
    left: 0px;
    bottom: 0px;
    display: inline-block;
    width: 100%;
    padding: 3px;
    background-color: var(--primary-dark);
    text-align: center;
}
.panel .content .output[data-style=internal-label] .edit-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 14px;
    color: var(--gradient0);
}
.panel .content .output[data-style=internal-label] .edit-btn i {
    font-size: 14px;
}
.panel .content .output[data-style=internal-label] .output-mod {
    position: absolute;
    width: 100%;
    height: fit-content;
    font-size: 10px;
    color: var(--gradient8);
    background-color: var(--primary-dark);
    left: 0px;
    bottom: 3px;
    padding-left: 5px;
}
.panel .content .output[data-style=internal-label] .output-mod input {
    width: 50%;
    height: 90%;
    position: relative;
    padding: 1px;
}
.panel .content input.seamless {
    border: none;
    background-color: var(--primary-dark);
    color: var(--gradient8);
    transition: background-color 0.2s;
    text-align: center;
    border-radius: 3px;
}
.panel .content input.seamless:focus {
    background-color: var(--primary);
}
.panel .content input.seamless-light {
    border: none;
    background-color: var(--gradient8);
    color: var(--gradient0);
    transition: background-color 0.2s;
    text-align: center;
    border-radius: 3px;
}
.panel .content input.seamless-light:focus {
    background-color: var(--gradient7);
}