#player {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 5;
}
#map-container {
    width: fit-content;
    height: fit-content; 
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    z-index: 6;
    position: absolute;
}
#map-container img {
    z-index: 7;
}
#map-options {
    position: absolute;
    top: 50%;
    left: 10vh;
    transform: translate(0px, -50%);
    color: white;
    font-family: Roboto;
    font-size: 20px;
}
#map-options input {
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 3vw;
    height: auto;
    display: inline-block;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
#map-options input:focus, #map-options input:hover {
    background-color: var(--primary-dark0);
}
#map-options input:first-child {
    width: 20vw;
}

#toolbar {
    z-index: 10;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: fit-content;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}
#toolbar button {
    display: block;
    margin: 0px;
    background-color: var(--primary-darker);
    transition: background-color 0.2s;
    border: none;
    color: white;
    position: relative;
    width: 100%;
    height: 40px;
}
#toolbar button:first-child {
    border-radius: 5px 5px 0 0;
}
#toolbar button:last-child {
    border-radius: 0 0 5px 5px;
}
#toolbar button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#toolbar button:hover, #toolbar button.selected {
    background-color: var(--secondary-dark);
}
#measure-tool {
    z-index: 20;
}
#measuring-container {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
}
#measuring-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: Roboto;
    z-index: 21;
}

#selection-box {
    display: none;
    position: absolute;
    background-color: rgba(0, 183, 255, 0.459);
    z-index: 25;
    cursor: crosshair;
}
#selection-box.selecting {
    display: inline-block;
}
.measurement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    color: white;
    font-family: Roboto;
    width: fit-content;
    display: inline-block;
    white-space: nowrap;
}
#selection-box.circle {
    border-radius: 50%;
}

.object {
    position: absolute;
    display: inline-block;
}
.obscure {
    background-color: black;
    z-index: 70;
}
.obscure.dm {
    opacity: 0.6;
    transition: opacity 0.2s;
}
#player[data-tool=obscure] .obscure.dm:hover {
    opacity: 0.4;
}

.note {
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    transition: background-color 0.2s;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    z-index: 20;
    transform: translate(-50%, -50%);
}
.note.player-invisible {
    opacity: 0.7;
}
.note-content {
    width: fit-content;
    height: auto;
}
.note:focus, .note:hover {
    outline: none;
    background-color: rgba(0,0,0,0.2);
}
.note-content:focus {
    outline: none;
}
#player[data-tool=note] .note {
    cursor: text;
}
#player[data-tool=move] .note {
    cursor: move;
}
#player .note{
    cursor: pointer;
}

#context-menu {
    z-index: 998;
    position: absolute;
    display: inline-block;
    background-color: var(--gradient8);
    border-radius: 5px;
    padding: 0px;
    width: 280px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
}
#context-menu .ctx-item {
    position: relative;
    width: 100%;
    height: 40px;
    transition: background-color 0.2s;
    margin: 0px;
    float: left;
    clear: none;  
}
#context-menu .ctx-item:hover {
    background-color: var(--gradient6);
}
#context-menu .ctx-item .menu-icon {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 100%;
    margin: 0px;
}
#context-menu .ctx-item .menu-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#context-menu .ctx-item .menu-label {
    display: inline-block;
    position: relative;
    width: calc(100% - 48px);
    margin: 0px;
    height: 100%;
    font-family: Roboto;
    font-size: 18px;
    white-space: nowrap;
}
#context-menu .ctx-item .menu-label span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

#toolbar-shapes {
    top: 90px;
    left: 65px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: 40px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}
#content-box:not(.dm) #toolbar-shapes {
    top: 50px;
}
#toolbar-shapes button {
    display: inline-block;
    margin: 0px;
    background-color: var(--primary-darker);
    transition: background-color 0.2s;
    border: none;
    color: white;
    position: relative;
    width: 40px;
    height: 100%;
    margin-right: -6px;
}
#toolbar-shapes button:first-child {
    border-radius: 5px 0 0 5px;
}
#toolbar-shapes button:last-child {
    border-radius: 0 5px 5px 0;
}
#toolbar-shapes button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#toolbar-shapes button:hover, #toolbar-shapes button.selected {
    background-color: var(--secondary-dark);
}

.shape {
    opacity: 0.5;
    z-index: 22;
    cursor: default;
    transform: translate(-50%, -50%);
}
.shape.player-invisible {
    border: 2px solid gold;
}
.shape.circle {
    border-radius: 50%;
}
#player[data-tool=move] .shape {
    cursor: move;
}

#add-character-dialog {
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.46);
}
#add-character-dialog .add-character-item {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--primary-dark);
    margin-right: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}
#add-character-dialog .add-character-item:hover {
    background-color: var(--secondary);
}
#add-character-dialog .add-character-item:last-child {
    margin-right: 0px;
}
#add-character-dialog .add-character-item .char-img {
    position: absolute;
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
#add-character-dialog .add-character-item .char-img img {
    width: 100%;
    height: 100%;
}
#add-character-dialog .add-character-item .char-name {
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    max-width: 80px;
    color: white;
    padding: 4px;
    background-color: var(--primary-darker);
    font-family: Roboto;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.2s;
}
#add-character-dialog .add-character-item:hover .char-name {
    background-color: var(--secondary-dark);
}

.object.character {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
}
.object.character .char-token {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    background-color: var(--gradient8);
}
.object.character .char-token img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.object.character .char-name {
    position: absolute;
    display: inline-block;
    top: calc(100% + 2px);
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    white-space: nowrap;
    color: white;
    background-color: rgba(0,0,0,0.1);
    transition: background-color 0.2s;
    padding: 2px;
    font-family: Roboto;
    font-size: 6px;
    border-radius: 4px;
}
.object.character:hover .char-name {
    background-color: rgba(0,0,0,0.4);
}
