:root {
    --primary: #37474f;
    --primary-dark: #102027;
    --primary-light:#62727b;
    --primary-text: #ffffff;

    --secondary: #77d6cb;
    --secondary-dark: #43a49a;
    --secondary-light: #aafffe;
    --secondary-text: #000000;

    --gradient0: #000000;
    --gradient1: #222222;
    --gradient2: #444444;
    --gradient3: #666666;
    --gradient4: #888888;
    --gradient5: #aaaaaa;
    --gradient6: #cccccc;
    --gradient7: #eeeeee;
    --gradient8: #ffffff;

    --dnd-text: #a82315;
    --dnd-small-text: #111111;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.small-box-shadow {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.noscroll::-webkit-scrollbar {
    display: none;
}
.noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button:focus, input:focus {
    outline: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body {
    overflow: hidden;
}

#head-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100vw;
    height: 5%;
    background-color: var(--primary);
    z-index: 102;
}
#head-menu-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    height: 5vh;
    width: 5vh;
    background-color: var(--primary);
    border: none;
}
#head-menu-btn.active {
    display: inline-block;
}
#head-menu-btn img:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 1;
}
#head-menu-btn img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    z-index: 0;
}
#head-menu-btn:hover img:first-child {
    opacity: 0;
}

#side-bar {
    position: absolute;
    top: 5vh;
    left: 0px;
    width: 0px;
    height: 95vh;
    background-color: var(--primary-dark);
    display: inline-block;
    z-index: 101;
    overflow-x: hidden;
    transition: width 0.2s;
}
#side-bar.active {
    width: 400px;
}

#content-area {
    position: absolute;
    top: 5vh;
    left: 0px;
    display: inline-block;
    width: 100vw;
    height: 95vh;
    z-index: 100;
}
#content-modal {
    opacity: 0.5;
    z-index: 100;
    background-color: var(--gradient0);
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 0%;
    height: 100%;
    backdrop-filter: blur(8px);
    transition: width 0.2s;
}
#content-modal.active {
    width: 100%;
}
#content-box {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 10px;
    overflow: scroll;
    box-sizing: border-box;
}
#login-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: fit-content;
    height: 5vh;
    background-color: var(--primary);
    color: var(--primary-text);
    transition: color 0.2s;
    border: none;
    font-size: 2vh;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-family: Roboto;
}
#login-btn:hover {
    color: var(--secondary);
}

#site-logo {
    position: absolute;
    top: 0px;
    left: 5px;
    display: inline-block;
    height: 5vh;
    width: fit-content;
    padding: 0px;
    box-sizing: border-box;
}
#site-logo img {
    display: inline-block;
    width: auto;
    height: 85%;
    position: relative;
    margin-top: 5px;
}
#site-logo span {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(0px,-50%);
    width: 300px;
    color: var(--primary-text);
    font-family: Roboto;
    font-size: 3vh;
}